.w3-hover-brown:hover {
    background-color: burlywood !important;
}

.nagybetus {
    text-transform: uppercase;
}

.fk {
    font-weight: bold;
}

.fk-spec {
    font-weight: bold;
    background-color: palevioletred;
    color: red;
}