.nagybetus {
    text-transform: uppercase;
}

.fk {
    font-weight: bold;
}

.fk-spec {
    font-weight: bold;
    background-color: palevioletred;
    color: darkred;
}

.body {
    background-color: #8a8a8a !important;
}

.left-border {
    border-left: solid grey 2px;
}

.top-border {
    border-top: solid grey 3px;
}